package page

import (
	"github.com/juancwu/jellyfan-web/views/layout"
	"github.com/juancwu/jellyfan-web/views/component"
)

templ LandingPage() {
	@layout.RootLayout("Jellyfan | Landing Page") {
		@layout.NarrowLayout() {
			<h1 class="text-2xl font-bold leading-7 text-gray-900 mt-4 sm:truncate sm:text-3xl sm:tracking-tight">Jellyweb</h1>
			<div id="alerts"></div>
			@component.FileUploadForm()
		}
	}
}
